body {
    background-color: tumblr_lwoekb6BW51qjhlmho1_500.gif;
}

nav a {
    color: blue;
}

.uppercase {
    text-transform: uppercase;
    font-size: 36px;
}

img{
    width: 349px;
    height: auto;
}

img {
    width: 350px;
    height: auto;
}

h1 {
   border-bottom: 2px solid black; 
   padding-left: 525px;
   font-size: 18px;
}
h2 {
    padding-left: 375px;
}
p {
    padding-left: 510px;
}

 
    
     
